@font-face {
    font-family: 'Evil empire';
    src: url(Fonts/EvilEmpire-4BBVK.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
}
body{
    background-color: rgb(242, 242, 242);
}
.header{
    height: 30vh;
    background-color: #111111;
}
.content-header{
    background-color: #11111199;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.top-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-logo{
    height: 100%;
}
.text-header{
    font-size: 2vw;
    font-family: "Evil empire";
    color: rgb(242, 242, 242);
    margin: 15px;
}
.buttons-header{
    background-color: #111111EE;
    height: 10vh;
    top: 0;
    position: sticky;
}
.ul-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.link{
    text-decoration: none;
    font-size: 2vw;
    padding: 7px;
    margin: 7px;
    color: rgb(242, 242, 242);
    transition: .3s ease-in-out;
}
.link:hover{
    color: #c20000;
    text-decoration: underline;
}
.page-items{
    display: flex;
    align-items: flex-start;
}
.border-content{
    background-color: #c20100;
    width: 20%;
    height: auto;
    position: relative;
}
.gira-2024{
    height: auto;
}
.mes-gira{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.giraFecha{
    font-size: 1.8vw;
    margin: 15px 0px 15px 0;
}
.gira-info{
    font-size: 1.2vw;
}
.ciudad{
    font-weight: bold;
}

.page-content{
    width: 80%;
    background-color: #c2f4fa;
}